<div class="field">
  <%= f.label :name, "Ingredient", class: "hidden subtitle" %><br>
  <p class="control is-fullwidth">
    <%= f.text_field :name, class: "input is-large", placeholder: "Ingredient Name" %>
  </p>
</div>