<!--
<div class="columns nested-fields">
  <div class="column">
    <div class="field">
      <%#= measurement.label :quantity, "Quantity", class: "hidden subtitle is-4" %><br>
        <p class="control is-fullwidth">
          <%#= measurement.text_field :quantity, class: "input is-large", placeholder: "Quantity" %>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%#= measurement.label :unit, "Unit", class: "hidden subtitle is-4" %><br>
        <p class="control is-fullwidth">
          <%#= measurement.text_field :unit, class: "input is-large", placeholder: "Unit of Measurement" %>
        </p>
      </div>
    </div>
    <div class="column">
      <%#= measurement.fields_for :ingredient do |i|%>
        <div class="field">
          <%#= i.label :name, "Ingredient", class: "hidden subtitle is-4" %><br>
          <p class="control is-fullwidth">
            <%#= i.text_field :name, class: "input is-large", placeholder: "Ingredient Name" %>
          </p>
        </div>
      <#% end %>
    </div>
  </div>
-->
