<!--
<div class="columns level nested-fields">
  <div class="column level-left is-2">
    <div class="field">
      <%#= step.label :position, "Step #{convert_index(step.index)}", class: "subtitle is-5 level-item" %>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-11 is-offset-1 level">
    <div class="field">
      <%#= step.label :description, class: "subtitle is-3 hidden" %>
      <div class="control">
        <%#= step.text_area :description, class: "input is-large textarea", placeholder: "Description", autofocus: true %>
      </div>
    </div>
    <div class="field">
      <div class="control level-right">
        <%#= link_to_remove_association "Remove This Step", step, class: "button is-default is-light is-danger level-item" %>
      </div>
    </div>
  </div>
</div>
-->