<!--
<div class="column is-3 nested-fields">
  <div class="field">
    <%#= t.label :name, "Label Name", class: "subtitle is-3 hidden" %>
    <div class="control">
      <%#= t.text_field :name, class: "input is-large", placeholder: "paleo, delicious...", autofocus: true %>
    </div>
  </div>
</div>
-->