<% content_for(:title, "Edit #{@recipe.title}") %>
<div class="column main-container">
  <% content_for(:edit) do %>
    <div class="field">
      <div class="control">
        <%= link_to "Delete", @recipe,
            method: "delete",
            data: {confirm: "Are you want to DELETE this Recipe?"}, 
            class: "button is-danger is-large" %>
      </div>
    </div>
  <% end %>
  <%= render "form" %> 
</div>
