<div class="container">
	<div class="columns">
	  <div class="column is-three-fourths-tablet main-container">
    <h1 class="subtitle is-1"><%= @user.name %></h1>
 
    <!-- show 'my recipies' ...partial??? -->
    <%# @user.recipies.each do |recipie| %>


    <%# end %>
    </div>
	</div>
</div>




