<article class="message <%= flash_class %>">
  <div class="message-header">
    <p><%= flash[:notice] || flash[:alert] %></p>
    <!-- JS needed  <button class="delete" aria-label="delete"></button> -->
  </div>

  <%= render partial: "/shared/error_full_messages", locals: {obj: @user} %>
</article>