<%= label_tag(:rating, "Star Rating:", class: "hidden") %>
<div class="field has-addons">
  <div class="control">
    <div class="select is-info is-large">
      <%= select_tag( :rating, raw("<option>Star Rating</option><option>5</option><option>4</option><option>3</option><option>2</option><option>1</option>") ) %>
    </div>
  </div>
  <div class="control">
    <%= submit_tag("Rate", class: "button is-info is-large")%>
  </div>
</div>