/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $tag-background-color: hsl(0, 0%, 86%);
 @import "bulma";

 a{
	text-decoration: none !important;
}

 /* authentication layout */
 .hidden{
	 display: none;
 }
.auth-wrapper{
	padding: 40px;
	background: #f6f6f6;
	border-radius: 1%;
}
a.footer-link {
	color: #000;
}
hr.login-hr{
	background-color: #605757;
}
.box{
	opacity: 1;
}

/* OmniAuth Social*/
a.oath{
	margin-top: 10px;
}

/* flash */
.field_with_errors input{
	border-color: red;
}
.message .message-header{
	border-radius: 0;
}
.is-error .message-header{
	background-color: #b30404;
}
.main .message.is-success,  .main .message.is-error{
	margin-bottom: 0;
}

/* appliction layout */ 
.hero.is-primary{
	background-color: #750000;
}
.main{
	background: linear-gradient(rgba(242, 242, 242, 0.5), rgba(102, 102, 102, 0.5)), asset_url("recipes/spork.png");
	height: 100%;
}
.main .notes-layout{
	min-height: 800px;
}
.hero.is-primary .navbar-brand a.logo:hover{
	background: #750000;
}
.hero.is-primary .navbar-menu{
  background: #750000;
}
.hero.is-primary a.navbar-item:hover, 
.hero.is-primary .navbar-link:hover {
	background: linear-gradient(#a30000, rgba(117, 0, 0, 1));
}
.hero.is-primary .navbar-dropdown {
	padding: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.hero.is-primary .navbar-dropdown .navbar-item {
	background: linear-gradient(rgba(117, 0, 0, 0.9), rgba(163, 0, 0, 0.9));
}
.hero.is-primary .navbar-dropdown .navbar-item:hover{
	background: linear-gradient(rgba(163, 0, 0, 1), rgba(117, 0, 0, 1));
	color: #000;
}
.hero.is-primary .navbar-end .navbar-item{
	padding-left: 0px;
}
.hero.is-primary .navbar-end .button:hover{
	background: #a30000;
	border: 1px soilid black;
}
.hero.is-primary .navbar-end input#query{
	width: 9em;
}

/* recipes index*/
.main .rating-filter{
	background: #fff;
	margin-top: 0px;
}
.recipe-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.container .card{
	min-width: 300px;
	max-width: 350px;
	min-height: 480px;
}
.container .card .content{
	color: black;
}

/* recipe form */
.recipe-tag-wrapper{
	display: flex;
	flex-wrap: wrap;
}

/* recipe show */
.user-notes{
	background: #808080;
	color: rgba(0, 0, 0, 0.7);
}
.even-box .subtext{
	color: rgba(25, 25, 25, 0.7);
	margin: 2px 0 0 25px;
}

/* admin views */
.main-container {
	background: #fff;
	margin-top: 12px;
}
.top-element{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.odd-box, .even-box{
	color: #fff;
}
.odd-box{
  background: #851d1d;
}
.even-box{
	background: #4d4b4b;
	position: relative;
}
.even-box .crud-button{
	margin-top: 40px;
}

/* user pages */
.has-text-star{
	color: #ffdd57;
}
.user-heading{
	margin-top: 30px;
}
.image .user-profile-photo{
	height: 128px;
	width: 128px;
}
.recipe-checkbox label {
	padding: 5px;
}
.recipe-checkbox input {
	margin-left: 10px;
}
a.shuffled,a.shuffled,a.shuffled, {
	margin: 10px;
}
.demo2 {
	display: none;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 1024px) {
	.navbar-end{
		display: flex;
	  flex-wrap: wrap;
	}
	.rating-filter-col-1{
    display: none;
	}
	.container .card{
		max-width: 350px;
	}
}
@media only screen and (max-width : 992px) {
	.container .card{
		max-width: 450px;
	}
}
@media only screen and (max-width : 768px) {
	.container .card{
		max-width: 380px;
		min-width: 350px;
	}
}
@media only screen and (max-width : 700px) {
	.container .card{
		max-width: 700px;
	}
}


